body {
    font-family: cursive;
}

.wrapper {
    background: linear-gradient(to right, lightblue, whitesmoke);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    height: 90vh;
    background: whitesmoke;
    box-shadow: 0px 10px 40px -10px black;
    width: 80%;
    margin: 0 auto;
}

.container {
    height: 90vh;
    background: url("cloud.jpg") center center no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: black;
}

.temperature {
    color: aqua;
}